$stupidphone: 350px;
$smartphone: 480px;
$tabletPortrait: 822px;
// $tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
@media all and (max-width:$desktop){
}
@media all and (max-width:$tabletPortrait){
	header{
		h1{
			font-size:10rem;
		}
		h2{
			font-size:3rem;
		}
		blockquote{
			font-size:2rem;
		}
		img{
			width:400px;
		}
	}
	h2{
		font-size:2rem;
	}
	.introText{
		p{
			font-size:1.5rem;
		}
		&:before{
			top:3%;
		}
	}
	.userInput h2{
		margin-bottom:0;
	}
	.userInput{
		.inputReasonLine{
			label{
				left:50%;
			}
		}
	}
	fieldset .wrapper ul li{
		height:100px;
	}
	.largeRed{
		font-size:2rem;
	}
	label{
		font-size:1.5rem;
	}
	button, input[type=submit]{
		font-size:1.5rem;
		letter-spacing:1px;
		padding:15px;
	}
}
@media all and (max-width:$smartphone){
	header{
		h1{
			font-size:7rem;
		}
		h2{
			font-size:2rem;
		}
		blockquote{
			font-size:1.8rem;
		}
		img{
			width:300px;
		}
	}
	h2{
		font-size:1.6rem;
		padding:25px 0;
	}
	label{
		font-size:1.2rem;
	}
	fieldset .wrapper ul li{
		height:80px;
	}
	fieldset .userInput{

	}
	.userInput{
		padding:0;
		.inputNameLine, .inputYourNameLine{
			label{
				left:50%;
				width:100%;
			}
		}
	}
	.wrapper{
		width:98%;
		margin:1% auto;
	}
	.downButton a{
		padding:10% 0;
		margin-top:10px;
	}

}
@media all and (max-width:$stupidphone){
	header{
		h1{
			font-size:4rem;
		}
		h2{
			font-size:1.5rem;
		}
		img{
			width:240px;
		}
	}
	label{
		font-size:1.1rem;
	}
	footer{
		left:-50px;
	}

}